.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.line {
  display: flex;
  gap: 5px;
}
#validate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.case {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  margin: 5px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: white;
}

.btn {
  padding: 10px 15px;
  margin: 20px 0;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  /* background-color: #eee; */
  cursor: pointer;
  background-color: green;
  transition: background-color 0.2s;
  color: white;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid green;
  color: black;
}
/*clavier*/

#keyboard {
  margin-top: 100px;
  text-align: center;
}
.keyboard-row {
  margin: 5px 0;
}

.key {
  padding: 10px 15px;
  margin: 4px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #ccc;
}

.key.active {
  transform: scale(1.1);
  background-color: #ccc;
  transition: all 0.1s ease;
}

.backspace {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}

.enter {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
}
/********************/

.guess {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 60px;
}
#guessOriginOfPlat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*Modal*/

.modal {
  display: none; /* caché par défaut */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
