.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.line {
  display: flex;
  gap: 5px;
}
#validate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.case {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  margin: 5px;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: white;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
}
/*clavier*/

#keyboard {
  margin-top: 100px;
  text-align: center;
}
.keyboard-row {
  margin: 5px 0;
}
/* .key {
  padding: 10px;
  margin: 3px;
  min-width: 30px;
  font-size: 16px;
  cursor: pointer;
} */

.key {
  padding: 10px 15px;
  margin: 4px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.key:hover {
  background-color: #ccc;
}

.backspace {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}

.enter {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
/********************/

.guess {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 60px;
}
#guessOriginOfPlat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
